[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@gitlab.com:jaderbrasil/nvim-dotfiles.git
