[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jader/docs]
row=4
col=0

[/home/jader/imgs]
row=6
col=0

[/home/jader/projs]
row=5
col=0

[19cc8789-dd3a-4a94-b14a-af3bb8bea5d8]
row=0
col=0

[5e7e9304-16d0-41e5-bf9b-f417a41c2993]
row=1
col=0

[/]
row=2
col=0

[/home/jader]
row=3
col=0

